.cinemas-page {
    .cinema-item {
        display: flex;
        flex-direction: column;
        padding: 12px;
        .ant-card {
            display: flex;
            flex-direction: column;
            flex: 1;
        }
        .ant-card-body {
            flex: 1;
        }
    }

    .cinema-add-item {
        min-height: 200px;
        text-align: center;
        .ant-btn-dashed {
            display: flex;
            flex: 1;
        }
        .anticon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 80px;
            opacity: .1;
        }
    }
}